$c-primary-900: hsl(300, 43%, 22%);	
$c-primary-100: hsl(333, 80%, 67%);

$c-neutral-300: hsl(303, 10%, 53%);
$c-neutral-200: hsl(300, 24%, 96%);
$c-neutral-100: hsl(0, 0%, 100%);

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;


$fs-200: 1rem;
$fs-300: 1.125rem;
$fs-700: 1.5rem;
$fs-900: 3rem;



